// one file to rule them all

// mixins
@import 'mixins/elevations';
@import 'mixins/typo-mix';
@import 'mixins/backgrounds';
// 
@import 'root/root';
@import 'vendors/normalize';

html {
    margin: 0;
    padding: 0;
}

body {
    // font
    font-family: var(--font-family);
    font-size: 62.5%;
    line-height: 1.6;

    // color
    background-color: var(--white);
    color: var(--gray-7);

    // 
    margin: 0;
    padding: 0;
}
@import 'atoms/typo';
@import 'atoms/icon';
@import 'atoms/figure';
@import 'atoms/menu';

@import 'organisms/nav';

@import 'organisms/aside';
@import 'organisms/footer';


@import 'layout/layout__sm';
@import 'layout/layout__lg';