footer.footer{
  @include bg1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 40vh;
  margin: 0;
  padding: 0;

  p {
      @include p;
      padding: 1em;

      a {
          color: var(--gray-5);
          text-decoration: none;

          &:hover, :focus {
              color: var(--gray-1);
          }
      }
}
}