// NAVIGATION
//  menu

 ul.navigation {
  display: flex;

  &--vertical {

      &.is--open {
        height: 100vh;
        margin: {
          left: 0;
          top: calc(#{$menu-icon-height} + 1rem);
          right: 0;
          bottom: 0;
        }
      }

      &:not(.is--open) {
        display: none;
      }
    }



}