html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  // font
  font-family: var(--font-family);
  font-size: 62.5%;
  line-height: 1.6;

  // color
  background-color: var(--white);
  color: var(--gray-7);

  // 
  margin: 0;
  padding: 0;
}